.axios_container {
  padding: 1em;
  width: 80%;
  margin: 0 auto;
}
.axios_section_box {
  padding: 0.5em 1em;
}
.axios_header_box {
  text-align: center;
  font-size: 3em;
}
.axios_section_header {
  font-size: 2.5em;
  padding: 0.3em 0;
}
.header {
  font-size: 2em;
  padding: 0.3em 0;
}
.axios_section_body p,
.axios_section_body li {
  font-size: 1.3em;
  line-height: 1.5em;
}

@media screen and (max-width: 600px) {
  .axios_container {
    padding: 1em;
  }
  .axios_section_box {
    padding: 0.5em 1em;
  }
  .axios_header_box {
    text-align: center;
    font-size: 2em;
  }
  .axios_section_header {
    font-size: 1.3em;
    padding: 0.3em 0;
  }
  .header {
    font-size: 1.2em;
    padding: 0.3em 0;
  }
  .axios_section_body p,
  .axios_section_body li {
    font-size: 1.1em;
    line-height: 1.2em;
  }
}
@media screen and (max-width: 1024px) {
  .axios_container {
    padding: 1em;
  }
  .axios_section_box {
    padding: 0.5em 1em;
  }
  .axios_header_box {
    text-align: center;
    font-size: 2em;
  }
  .axios_section_header {
    font-size: 1.3em;
    padding: 0.3em 0;
  }
  .header {
    font-size: 1.2em;
    padding: 0.3em 0;
  }
  .axios_section_body p,
  .axios_section_body li {
    font-size: 1.1em;
    line-height: 1.2em;
  }
}
