.axios_container {
  @include GeneralContainerStyle;
  .axios_header_box {
    @include GeneralHeaderStyle;
  }
  .axios_section_box {
    padding: 0.5em 1em;
    .axios_section_body {
      .axios_section_body p,
      .axios_section_body li {
        font-size: 1.3em;
        line-height: 1.5em;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .axios_container {
    padding: 1em;
  }
  .axios_section_box {
    padding: 0.5em 1em;
  }
  .axios_header_box {
    text-align: center;
    font-size: 2em;
  }
  .axios_section_header {
    font-size: 1.3em;
    padding: 0.3em 0;
  }
  .header {
    font-size: 1.2em;
    padding: 0.3em 0;
  }
  .axios_section_body p,
  .axios_section_body li {
    font-size: 1.1em;
    line-height: 1.2em;
  }
}
@media screen and (max-width: 1024px) {
  .axios_container {
    padding: 1em;
  }
  .axios_section_box {
    padding: 0.5em 1em;
  }
  .axios_header_box {
    text-align: center;
    font-size: 2em;
  }
  .axios_section_header {
    font-size: 1.3em;
    padding: 0.3em 0;
  }
  .header {
    font-size: 1.2em;
    padding: 0.3em 0;
  }
  .axios_section_body p,
  .axios_section_body li {
    font-size: 1.1em;
    line-height: 1.2em;
  }
}
