//var imports
// @use "../../../App.scss";
// @import "../../../App.scss";

.regex_main_container {
  font-size: 1.1em;
  padding: 1em;
  line-height: 20px;
  letter-spacing: 2px;
  .regexHeader_container {
    @include GeneralHeaderStyle;
  }
  .regexBody_container {
    display: flex;
    flex-wrap: wrap;
    .regex_box {
      width: 30em;
      border: 1px solid rgba(255, 255, 255, 0.25);
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(15px);
      padding: 1em;
      margin: 1em;
      flex: 40%;
      .regex_box_header {
        padding: 1em;
        text-align: center;
      }
      .regex_box_body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.2em 0;
        div {
          width: 50%;
          text-align: start;
        }
      }
    }
  }
  /* RegexData */
  .regexData_section {
    .regxData_container {
      font-size: 1.1em;
      padding: 1em;
      line-height: 20px;
      letter-spacing: 2px;
      div {
        margin: 1em 0;
        p {
          // padding: 1.1em 0;
          line-height: 22px;
          span {
            font-size: 1.2em;
            // background: -webkit-linear-gradient($color_maroon, #333);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
      // .regxData_explantion {
      // }
    }
  }
}

/* RegexExce */
@media screen and (max-width: 600px) {
  /* RegexData */

  /* RegexExce */
  .regexBody_container {
    flex-direction: column;
    overflow-x: hidden;
  }
  .regex_box {
    width: 80%;
    margin: 1em auto;
  }
}
