::-webkit-scrollbar {
  width: 0;
}
.mainAbout_container {
  display: flex;
  background-image: linear-gradient(
      315deg,
      rgba(94, 94, 94, 0.02) 0%,
      rgba(94, 94, 94, 0.02) 12%,
      rgba(20, 20, 20, 0.02) 12%,
      rgba(20, 20, 20, 0.02) 67%,
      rgba(98, 98, 98, 0.02) 67%,
      rgba(98, 98, 98, 0.02) 76%,
      rgba(247, 247, 247, 0.02) 76%,
      rgba(247, 247, 247, 0.02) 91%,
      rgba(44, 44, 44, 0.02) 91%,
      rgba(44, 44, 44, 0.02) 100%
    ),
    linear-gradient(
      322deg,
      rgba(251, 251, 251, 0.02) 0%,
      rgba(251, 251, 251, 0.02) 33%,
      rgba(132, 132, 132, 0.02) 33%,
      rgba(132, 132, 132, 0.02) 43%,
      rgba(248, 248, 248, 0.02) 43%,
      rgba(248, 248, 248, 0.02) 58%,
      rgba(19, 19, 19, 0.02) 58%,
      rgba(19, 19, 19, 0.02) 89%,
      rgba(43, 43, 43, 0.02) 89%,
      rgba(43, 43, 43, 0.02) 100%
    ),
    linear-gradient(
      245deg,
      rgba(4, 4, 4, 0.02) 0%,
      rgba(4, 4, 4, 0.02) 29%,
      rgba(242, 242, 242, 0.02) 29%,
      rgba(242, 242, 242, 0.02) 33%,
      rgba(38, 38, 38, 0.02) 33%,
      rgba(38, 38, 38, 0.02) 57%,
      rgba(138, 138, 138, 0.02) 57%,
      rgba(138, 138, 138, 0.02) 99%,
      rgba(210, 210, 210, 0.02) 99%,
      rgba(210, 210, 210, 0.02) 100%
    ),
    linear-gradient(
      303deg,
      rgba(122, 122, 122, 0.02) 0%,
      rgba(122, 122, 122, 0.02) 45%,
      rgba(0, 0, 0, 0.02) 45%,
      rgba(0, 0, 0, 0.02) 58%,
      rgba(66, 66, 66, 0.02) 58%,
      rgba(66, 66, 66, 0.02) 68%,
      rgba(103, 103, 103, 0.02) 68%,
      rgba(103, 103, 103, 0.02) 84%,
      rgba(130, 130, 130, 0.02) 84%,
      rgba(130, 130, 130, 0.02) 100%
    ),
    linear-gradient(
      261deg,
      rgba(84, 84, 84, 0.02) 0%,
      rgba(84, 84, 84, 0.02) 1%,
      rgba(241, 241, 241, 0.02) 1%,
      rgba(241, 241, 241, 0.02) 12%,
      rgba(90, 90, 90, 0.02) 12%,
      rgba(90, 90, 90, 0.02) 15%,
      rgba(92, 92, 92, 0.02) 15%,
      rgba(92, 92, 92, 0.02) 54%,
      rgba(134, 134, 134, 0.02) 54%,
      rgba(134, 134, 134, 0.02) 100%
    ),
    linear-gradient(279deg, rgb(8, 8, 8), rgb(220, 220, 220));
}
.mainAbout_box {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  /* animation: move 1s linear infinite forwards; */
}

/* heder */

.container {
  display: flex;
  flex: 0 1 400px;
  justify-content: center;
  align-items: center;
}
.container .box {
  width: 30em;
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container .box .title {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
}
.container .box .title .block {
  width: 0%;
  height: inherit;
  background: #ffb510;
  position: absolute;
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  display: flex;
}
.container .box .title h1 {
  font-family: "Poppins";
  color: #fff;
  font-size: 4em;
  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
}
.container .box .title h1 span {
  width: 0px;
  height: 0px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #ffb510;
  -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
  margin-left: 5px;
  margin-top: -10px;
  position: absolute;
  bottom: 13px;
  right: -12px;
}
.container .box .role {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 3em;
  /* margin-top: -10px; */
}
.container .box .role .block {
  width: 0%;
  height: inherit;
  background: #e91e63;
  position: absolute;
  animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
  display: flex;
}
.container .box .role p {
  animation: secFadeIn 2s forwards;
  animation-delay: 3.2s;
  opacity: 0;
  font-weight: 400;
  font-family: "Lato";
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 5px;
}
/* header animation */
@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 20px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 35px;
    /* right: 9px; */
  }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 24px;
  }
}
@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.5;
    transform: translateY(-10px);
  }
}
footer {
  width: 350px;
  height: 80px;
  background: #ffb510;
  position: absolute;
  right: 0;
  bottom: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: top 0.8s forwards;
  animation-delay: 4s;
}
footer span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #232323;
  font-family: "Poppins";
}
footer span i {
  margin-right: 25px;
  font-size: 22px;
  color: #232323;
  animation: icon 2s forwards;
  animation-delay: 4s;
  opacity: 0;
}
@keyframes top {
  0% {
    opacity: 0;
    bottom: -80px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
@keyframes icon {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.3) rotate(-2deg);
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

/*  */
.about_intro_box {
  padding: 2em 10em;
  font-size: 1.5vw;
  text-align: start;
  /* color: whitesmoke; */
  background-color: rgba(245, 235, 235, 0.3);
}
/* stack section */
.stack_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 500px;
}
.stack_box {
  width: 100%;
  display: flex;
  gap: 3em;
  align-items: center;
  justify-content: center;
}
.stack_box div {
  background-color: whitesmoke;
  box-shadow: inset 0px 3px 5px rgba(255, 255, 255, 0.5),
    0px 0px 10px rgba(0, 0, 0, 0.15);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 0) 5%,
    rgba(255, 255, 255, 0.5) 6%,
    rgba(255, 255, 255, 0) 9%,
    rgba(255, 255, 255, 0.5) 10%,
    rgba(255, 255, 255, 0) 17%,
    rgba(255, 255, 255, 0.5) 19%,
    rgba(255, 255, 255, 0) 21%
  );
  font-size: 5em;
  color: whitesmoke;
  align-items: center;

  width: 2em;
  display: flex;
  justify-content: center;
}
.stack_container h2 {
  font-size: clamp(2em, 3em, 4em);
  padding: clamp(1em, 1.5em, 2em);
}
/*  */
@media only screen and (max-width: 700px) {
  .container {
    flex: 0 1;
    margin: 0;
  }
  .container .box {
    width: 19em;
  }
  .about_intro_box {
    font-size: 1.1em;
    text-align: start;
  }
  .container .box .title h1 {
    font-size: 2.5em;
    color: #ddd;
  }
  .container .box .title h1 span {
    bottom: 20px;
  }
  .container .box .role p {
    font-size: 1em;
  }
  @keyframes popIn {
    0% {
      width: 0px;
      height: 0px;
      background: #e9d856;
      border: 0px solid #ddd;
      opacity: 0;
    }
    50% {
      width: 10px;
      height: 10px;
      background: #e9d856;
      opacity: 1;
      bottom: 45px;
    }
    65% {
      width: 7px;
      height: 7px;
      bottom: 20px;
      width: 15px;
    }
    80% {
      width: 10px;
      height: 10px;
      bottom: 35px;
      /* right: 9px; */
    }
    100% {
      width: 7px;
      height: 7px;
      background: #e9d856;
      border: 0px solid #222;
      bottom: 16px;
    }
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    flex: 0 1;
    margin: 0;
  }
  .container .box {
    width: auto;
  }
}
