.htmlDashboardMainContainer {
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  display: flex;
  position: relative;

  overflow: hidden;
}

.htmlMainBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
}
