::-webkit-scrollbar {
  width: 0;
}

.mainAbout_container {
  display: flex;
  position: relative;
  height: 100vh;
  background-image: linear-gradient(315deg, rgba(94, 94, 94, 0.02) 0%, rgba(94, 94, 94, 0.02) 12%, rgba(20, 20, 20, 0.02) 12%, rgba(20, 20, 20, 0.02) 67%, rgba(98, 98, 98, 0.02) 67%, rgba(98, 98, 98, 0.02) 76%, rgba(247, 247, 247, 0.02) 76%, rgba(247, 247, 247, 0.02) 91%, rgba(44, 44, 44, 0.02) 91%, rgba(44, 44, 44, 0.02) 100%), linear-gradient(322deg, rgba(251, 251, 251, 0.02) 0%, rgba(251, 251, 251, 0.02) 33%, rgba(132, 132, 132, 0.02) 33%, rgba(132, 132, 132, 0.02) 43%, rgba(248, 248, 248, 0.02) 43%, rgba(248, 248, 248, 0.02) 58%, rgba(19, 19, 19, 0.02) 58%, rgba(19, 19, 19, 0.02) 89%, rgba(43, 43, 43, 0.02) 89%, rgba(43, 43, 43, 0.02) 100%), linear-gradient(245deg, rgba(4, 4, 4, 0.02) 0%, rgba(4, 4, 4, 0.02) 29%, rgba(242, 242, 242, 0.02) 29%, rgba(242, 242, 242, 0.02) 33%, rgba(38, 38, 38, 0.02) 33%, rgba(38, 38, 38, 0.02) 57%, rgba(138, 138, 138, 0.02) 57%, rgba(138, 138, 138, 0.02) 99%, rgba(210, 210, 210, 0.02) 99%, rgba(210, 210, 210, 0.02) 100%), linear-gradient(303deg, rgba(122, 122, 122, 0.02) 0%, rgba(122, 122, 122, 0.02) 45%, rgba(0, 0, 0, 0.02) 45%, rgba(0, 0, 0, 0.02) 58%, rgba(66, 66, 66, 0.02) 58%, rgba(66, 66, 66, 0.02) 68%, rgba(103, 103, 103, 0.02) 68%, rgba(103, 103, 103, 0.02) 84%, rgba(130, 130, 130, 0.02) 84%, rgba(130, 130, 130, 0.02) 100%), linear-gradient(261deg, rgba(84, 84, 84, 0.02) 0%, rgba(84, 84, 84, 0.02) 1%, rgba(241, 241, 241, 0.02) 1%, rgba(241, 241, 241, 0.02) 12%, rgba(90, 90, 90, 0.02) 12%, rgba(90, 90, 90, 0.02) 15%, rgba(92, 92, 92, 0.02) 15%, rgba(92, 92, 92, 0.02) 54%, rgba(134, 134, 134, 0.02) 54%, rgba(134, 134, 134, 0.02) 100%), linear-gradient(279deg, rgb(8, 8, 8), rgb(220, 220, 220));
  color: rgb(10, 11, 26);
}
.mainAbout_container .mainAbout_box {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  /* heder */
}
.mainAbout_container .mainAbout_box .aboutHeader {
  display: flex;
  flex: 0 1 400px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  animation: headerToTop 3s 2s forwards;
}
@keyframes headerToTop {
  0% {
    top: 30%;
  }
  100% {
    top: 0%;
  }
}
.mainAbout_container .mainAbout_box .aboutHeader .box {
  width: 100%;
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.mainAbout_container .mainAbout_box .aboutHeader .box .title {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
}
.mainAbout_container .mainAbout_box .aboutHeader .box .title .block {
  width: 0%;
  height: inherit;
  background: #ffb510;
  position: absolute;
  animation: mainBlock 1s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  display: flex;
}
.mainAbout_container .mainAbout_box .aboutHeader .box .title h1 {
  font-family: "Poppins";
  color: #fff;
  font-size: 4em;
  -webkit-animation: mainFadeIn 1s forwards;
  -o-animation: mainFadeIn 1s forwards;
  animation: mainFadeIn 1s forwards;
  animation-delay: 0.75s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
}
.mainAbout_container .mainAbout_box .aboutHeader .box .title h1 span {
  width: 0px;
  height: 0px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #ffb510;
  -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 1s;
  margin-left: 5px;
  margin-top: -10px;
  position: absolute;
  bottom: 13px;
  right: -12px;
}
.mainAbout_container .mainAbout_box .aboutHeader .box .role {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 3em;
  /* margin-top: -10px; */
}
.mainAbout_container .mainAbout_box .aboutHeader .box .role .block {
  width: 0%;
  height: inherit;
  background: #e91e63;
  position: absolute;
  animation: secBlock 1s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 1.1s;
  display: flex;
}
.mainAbout_container .mainAbout_box .aboutHeader .box .role p {
  animation: secFadeIn 1s forwards;
  animation-delay: 2.2s;
  opacity: 0;
  font-weight: 400;
  font-family: "Lato";
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.mainAbout_container .mainAbout_box .about_intro_box {
  padding: 2em 10em;
  font-size: 1.2em;
  text-align: start;
  /* color: whitesmoke; */
  background-color: rgba(245, 235, 235, 0.3);
  opacity: 0;
  margin-top: 8em;
  animation: fadeIn 2s 3s forwards;
}
.mainAbout_container .mainAbout_box .stack_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  animation: fadeIn 1s 3.5s forwards;
}
.mainAbout_container .mainAbout_box .stack_container h2 {
  font-size: 3em;
  padding: 1em;
  color: #494848;
  text-shadow: #e0e0e0 1px 1px 0;
}
.mainAbout_container .mainAbout_box .stack_container .stack_box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  align-items: center;
  justify-content: center;
}
.mainAbout_container .mainAbout_box .stack_container .stack_box div {
  background-color: whitesmoke;
  box-shadow: inset 0px 3px 5px rgba(255, 255, 255, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.15);
  background: rgb(2, 0, 36);
  background: linear-gradient(45deg, rgba(2, 0, 36, 0) 5%, rgba(255, 255, 255, 0.5) 6%, rgba(255, 255, 255, 0) 9%, rgba(255, 255, 255, 0.5) 10%, rgba(255, 255, 255, 0) 17%, rgba(255, 255, 255, 0.5) 19%, rgba(255, 255, 255, 0) 21%);
  font-size: 5em;
  color: whitesmoke;
  align-items: center;
  width: 2em;
  display: flex;
  justify-content: center;
}
.mainAbout_container .mainAbout_box .links_container {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 1.5s 3.5s forwards;
  margin-top: 4em;
}
.mainAbout_container .mainAbout_box .links_container a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #494848;
  text-shadow: #e0e0e0 1px 1px 0;
}
.mainAbout_container .mainAbout_box .links_container a .linkBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainAbout_container .mainAbout_box .links_container a .gitHub_link_titel_box {
  width: max-content;
  font-size: 1.3em;
}
.mainAbout_container .mainAbout_box .links_container a .gitHub_link_titel_box .gitHub_link_titel_icon_box {
  width: 100px;
  margin: 0rem 0.5rem 0rem 0.5rem;
  color: #494848;
  text-shadow: rgb(224, 224, 224) 1px 1px 0;
}
.mainAbout_container .mainAbout_box .links_container a .gitHub_link_titel_box .gitHub_link_titel_icon_box .gitHub_icon {
  width: 100%;
  height: 50%;
  -webkit-filter: drop-shadow(1px 1px 0px rgba(224, 224, 224, 0.7));
  filter: drop-shadow(1px 1px 0px rgba(224, 224, 224, 0.15));
}
.mainAbout_container .mainAbout_box .links_container a .gitHub_link_Box_cat {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100px;
  transform: translateX(-15px);
}
.mainAbout_container .mainAbout_box .links_container a .gitHub_link_Box_cat .gitHub_icon_cat {
  width: 50%;
  height: 50%;
  margin: 0 0.5rem;
  -webkit-filter: drop-shadow(1px 1px 0px rgba(224, 224, 224, 0.7));
  filter: drop-shadow(1px 1px 0px rgba(224, 224, 224, 0.15));
}

/*  */
/* header animation */
@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 20px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 35px;
    /* right: 9px; */
  }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 24px;
  }
}
@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.5;
    transform: translateY(-10px);
  }
}
@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 20px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 35px;
    /* right: 9px; */
  }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 16px;
  }
}
/*  */
@media only screen and (max-width: 1300px) {
  .mainAbout_container .mainAbout_box {
    /* heder */
  }
  .mainAbout_container .mainAbout_box .aboutHeader {
    position: relative;
    flex: 0 0 200px;
    top: 20%;
    animation: headerToTop 2.5s 2s forwards;
  }
  @keyframes headerToTop {
    0% {
      top: 20%;
    }
    100% {
      top: 5%;
    }
  }
  .mainAbout_container .mainAbout_box .aboutHeader .box {
    width: 100%;
    height: 150px;
  }
  .mainAbout_container .mainAbout_box .aboutHeader .box .title h1 {
    font-size: 3em;
  }
  .mainAbout_container .mainAbout_box .aboutHeader .box .role {
    height: 3em;
  }
  .mainAbout_container .mainAbout_box .aboutHeader .box .role p {
    font-size: 1em;
    text-align: start;
  }
  .mainAbout_container .mainAbout_box .about_intro_box {
    padding: 2em 1em;
    font-size: 1.1em;
    margin-top: 0em;
    animation: fadeIn 2s 3s forwards;
  }
  .mainAbout_container .mainAbout_box .stack_container {
    flex-wrap: wrap;
    animation: fadeIn 1s 3.5s forwards;
  }
  .mainAbout_container .mainAbout_box .stack_container h2 {
    font-size: 1.5em;
  }
  .mainAbout_container .mainAbout_box .stack_container .stack_box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    align-items: center;
    justify-content: center;
  }
  .mainAbout_container .mainAbout_box .stack_container .stack_box div {
    font-size: 3em;
  }
  .mainAbout_container .mainAbout_box .links_container a {
    margin-left: 3em;
  }
  .mainAbout_container .mainAbout_box .links_container a .gitHub_link_titel_box {
    font-size: 1em;
  }
  .mainAbout_container .mainAbout_box .links_container a .gitHub_link_titel_box .gitHub_link_titel_icon_box {
    width: 50px;
  }
  .mainAbout_container .mainAbout_box .links_container a .gitHub_link_titel_box .gitHub_link_titel_icon_box .gitHub_icon {
    height: 50%;
  }
  .mainAbout_container .mainAbout_box .links_container a .gitHub_link_Box_cat .gitHub_icon_cat {
    width: 50%;
    height: 50%;
  }

  @keyframes popIn {
    0% {
      width: 0px;
      height: 0px;
      background: #e9d856;
      border: 0px solid #ddd;
      opacity: 0;
    }
    50% {
      width: 10px;
      height: 10px;
      background: #e9d856;
      opacity: 1;
      bottom: 45px;
    }
    65% {
      width: 7px;
      height: 7px;
      bottom: 20px;
      width: 15px;
    }
    80% {
      width: 10px;
      height: 10px;
      bottom: 35px;
      /* right: 9px; */
    }
    100% {
      width: 7px;
      height: 7px;
      background: #e9d856;
      border: 0px solid #222;
      bottom: 10px;
    }
  }
}
@media only screen and (max-width: 600px) {
  .mainAbout_container .mainAbout_box {
    /* heder */
  }
  .mainAbout_container .mainAbout_box .aboutHeader {
    position: relative;
    top: 30%;
    animation: headerToTop 2.5s 2s forwards;
  }
  @keyframes headerToTop {
    0% {
      top: 30%;
    }
    100% {
      top: 0%;
    }
  }
  .mainAbout_container .mainAbout_box .aboutHeader .box {
    width: 70%;
    height: 150px;
  }
  .mainAbout_container .mainAbout_box .aboutHeader .box .title h1 {
    font-size: 1.8em;
  }
  .mainAbout_container .mainAbout_box .aboutHeader .box .role {
    height: 3em;
  }
  .mainAbout_container .mainAbout_box .aboutHeader .box .role p {
    font-size: 1em;
    text-align: center;
  }
  .mainAbout_container .mainAbout_box .about_intro_box {
    padding: 2em 1em;
    font-size: 100%;
    margin-top: 0em;
    animation: fadeIn 2s 3s forwards;
  }
  .mainAbout_container .mainAbout_box .stack_container {
    flex-wrap: wrap;
    animation: fadeIn 1s 3.5s forwards;
  }
  .mainAbout_container .mainAbout_box .stack_container h2 {
    font-size: 1.5em;
  }
  .mainAbout_container .mainAbout_box .stack_container .stack_box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    align-items: center;
    justify-content: center;
  }
  .mainAbout_container .mainAbout_box .stack_container .stack_box div {
    font-size: 3em;
  }
  .mainAbout_container .mainAbout_box .links_container a {
    margin-left: 3em;
  }
  .mainAbout_container .mainAbout_box .links_container a .gitHub_link_titel_box {
    font-size: 1em;
  }
  .mainAbout_container .mainAbout_box .links_container a .gitHub_link_titel_box .gitHub_link_titel_icon_box {
    width: 50px;
  }
  .mainAbout_container .mainAbout_box .links_container a .gitHub_link_titel_box .gitHub_link_titel_icon_box .gitHub_icon {
    height: 50%;
  }
  .mainAbout_container .mainAbout_box .links_container a .gitHub_link_Box_cat .gitHub_icon_cat {
    width: 50%;
    height: 50%;
  }

  @keyframes popIn {
    0% {
      width: 0px;
      height: 0px;
      background: #e9d856;
      border: 0px solid #ddd;
      opacity: 0;
    }
    50% {
      width: 10px;
      height: 10px;
      background: #e9d856;
      opacity: 1;
      bottom: 45px;
    }
    65% {
      width: 7px;
      height: 7px;
      bottom: 20px;
      width: 15px;
    }
    80% {
      width: 10px;
      height: 10px;
      bottom: 35px;
      /* right: 9px; */
    }
    100% {
      width: 7px;
      height: 7px;
      background: #e9d856;
      border: 0px solid #222;
      bottom: 10px;
    }
  }
}
