// colors
$color_maroon: #881b4c;
$color_indigo: #1e2761;
$color_indigo_ligther: #303972;
/* font sizes */
$headLine_font_size: 3.5rem;
$sub-headLine_font_size: 2em;
$card_header_font_size: 1.5em;
$body_font_size: 1.3em;

$sideBar_font_size: 1.5em;
/* font color */
$primery_font: #000000ff;
$secondery_font: black;
$body_font_color: rgb(77, 76, 83);
/* font familys */
$font-family-BebasNeue: "Bebas Neue", cursive;
$font-family-Libre_Baskerville: "Libre Baskerville", serif;
$font-family--Poppins: "Poppins", sans-serif;
$font-family-Source_Code_Pro: "Source Code Pro", monospace;
$font-family-Roboto: "Roboto", sans-serif;
