/* sidBar humburger icon */
.tuggleSideBar_box {
  display: none;
}
.navBar_tuggle_icon {
  width: 30px;
  height: 30px;
  position: relative;
  transition: 0.1s;
  margin: 10px 10px;
  cursor: pointer;
  display: inline-block;
}
.navBar_tuggle_icon span {
  width: 5px;
  height: 5px;
  background-color: #fff;
  display: block;
  border-radius: 50%;
  position: absolute;
}
.navBar_tuggle_icon:hover span {
  transform: scale(1.2);
  transition: 350ms cubic-bezier(0.8, 0.5, 0.2, 1.4);
}
.navBar_tuggle_icon span:nth-child(1) {
  left: 0;
  top: 0;
  background-color: #2566a3;
}
.navBar_tuggle_icon span:nth-child(2) {
  left: 12px;
  top: 0;
  background: #2566a3;
}
.navBar_tuggle_icon span:nth-child(3) {
  right: 0;
  top: 0;
  background: #2566a3;
}
.navBar_tuggle_icon span:nth-child(4) {
  left: 0;
  top: 12px;
  background: #2566a3;
}
.navBar_tuggle_icon span:nth-child(5) {
  position: absolute;
  left: 12px;
  top: 12px;
  background: #2566a3;
}
.navBar_tuggle_icon span:nth-child(6) {
  right: 0px;
  top: 12px;
  background: #2566a3;
}
.navBar_tuggle_icon span:nth-child(7) {
  left: 0px;
  bottom: 0px;
  background: #2566a3;
}
.navBar_tuggle_icon span:nth-child(8) {
  position: absolute;
  left: 12px;
  bottom: 0px;
  background: #2566a3;
}
.navBar_tuggle_icon span:nth-child(9) {
  right: 0px;
  bottom: 0px;
  background: #2566a3;
}
.navBar_tuggle_icon.open {
  transform: rotate(180deg);
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.navBar_tuggle_icon.open span {
  border-radius: 50%;
  transition-delay: 200ms;
  transition: 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}
.navBar_tuggle_icon.open span:nth-child(2) {
  left: 6px;
  top: 6px;
}
.navBar_tuggle_icon.open span:nth-child(4) {
  left: 6px;
  top: 18px;
}
.navBar_tuggle_i con.open span:nth-child(6) {
  right: 6px;
  top: 6px;
}
.navBar_tuggle_icon.open span:nth-child(8) {
  left: 18px;
  bottom: 6px;
}

//general links style

.active {
  color: rgb(74, 74, 74) !important;
}

.sideBarContainer {
  min-height: 100vh;
  width: 230px;
  min-width: 230px;
  font-size: var(--sideBar_font_size);
  z-index: 2000;
  overflow-y: scroll;

  a {
    margin: 0.5em 0;
    color: #333333;

    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.15);
    &:hover {
      cursor: pointer;

      color: rgb(105, 101, 114) !important;
    }
    // &:active {
    // }
  }
  /* side bar header */
  .sideBarHeader {
    height: 100px;
    max-height: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* .sideBarHeader svg {
  height: 50%;
  width: 50%;
  fill:linear-;
} */

/* side bar body + list */
.sideBar_body {
  padding-top: 2.5em;

  min-height: 100vh;
  height: 100vh;

  .main_ul {
    width: 100%;

    display: flex;
    position: relative;
    flex-direction: column;

    .sideBar_li {
      display: flex;

      flex-direction: column;
      margin: 1em 0 0 1em;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      .sideBarLink {
        display: flex;
        font-size: 0.9em;
        color: #333;
        .liSpan {
          padding: 0 0 0 0.7em;

          // span {
          // }
        }
        .iconBox {
          svg {
            -webkit-filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.7));
            filter: drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.15));
          }
        }
      }
      .subLinks {
        font-size: 0.8em;

        // li {
        // }
        .subListSideBarLink {
          display: flex;
          flex-direction: row;
          overflow-wrap: break-word;
          margin-top: 0.1em;

          color: #333;
          .subListLiSpan {
            padding-left: 1em;
          }
          .subLincIconBox {
            svg {
              -webkit-filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.7));
              filter: drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.15));
            }
          }
        }
      }
    }
  }
}

// .sideBar_body ul li:hover .subLinks {
//   // display: flex;
//   // flex-direction: column;
//   // justify-content: center;
//   // align-items: center;
//   // opacity: 1;
// }

// .sideBarHeader svg {
//   // animation-delay: 3m;
//   // animation: svgAnime 10s ease-in-out infinite both;
// }
@keyframes svgAnime {
  0% {
    stroke-dasharray: 0%;
  }
  100% {
    stroke-dasharray: 1000%;
  }
}

@media screen and (max-width: 800px) {
  .sideBarContainer {
    transform: translateX(-100%);
    display: none;
    min-width: 100%;
    overflow-x: hidden;
  }
  .sideBar_body ul #active {
    background-color: transparent;
  }
  .sideBarContainerOpen {
    transform: translateX(0%);
    width: 80%;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    bottom: 0;
    &::before {
      background-color: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
      content: "";
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }
  .sideBar_body ul li .subLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
  }
  .tuggleSideBar_box {
    display: flex;
    position: fixed;
    z-index: 3000;
    top: 2%;
    left: unset;
    right: 3%;
  }
  .sideBar_li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .sideBar_body ul li {
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    padding: 2rem 1.5rem;
  }
  .liSpan {
    flex: 90%;
    padding: 0 0 0 1em;
    display: flex;
    justify-content: flex-start;
  }
  .iconBox {
    flex: 10%;
    display: flex;
    place-items: baseline;
    padding: 0 0 0 1em;
  }
  .subLinks {
    position: unset;
    width: 100%;

    justify-content: center;
  }
  .subLinks li {
    width: 100%;
    border-radius: 10px 10px 10px 10px;
  }
  .subListLiSpan {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    padding: 0 1em;
    font-size: 1rem;
    display: flex;
    align-items: center;
  }
  .subListIconBox {
    flex: 1;
    display: grid;
    place-items: center;
  }
}
