.mainCssDashboard_container {
  background-color: white;
  display: flex;
  overflow: hidden;
}

.mainCssDashboard_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
}
