@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;600&family=Source+Code+Pro:wght@400;600&display=swap");
*,
::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-sub-header-Poppins);
  text-decoration: none;
}
body {
  /* overflow: hidden; */
  background-color: rgb(215, 214, 218);
  scroll-behavior: smooth;
  background: var(--ligth-readient-two-colors);
}
ul li {
  list-style: none;
  list-style-type: none;
}
.hiddeScroll {
  overflow: hidden !important;
  /* overflow-y: hidden !important; */
  max-height: 100vh;
}
:root {
  /*colors*/
  --ligth-readient-two-colors: linear-gradient(
      135deg,
      transparent 0%,
      transparent 6%,
      rgba(71, 71, 71, 0.08) 6%,
      rgba(71, 71, 71, 0.08) 22%,
      transparent 22%,
      transparent 100%
    ),
    linear-gradient(
      45deg,
      transparent 0%,
      transparent 20%,
      rgba(71, 71, 71, 0.08) 20%,
      rgba(71, 71, 71, 0.08) 47%,
      transparent 47%,
      transparent 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 24%,
      rgba(71, 71, 71, 0.08) 24%,
      rgba(71, 71, 71, 0.08) 62%,
      transparent 62%,
      transparent 100%
    ),
    linear-gradient(
      45deg,
      transparent 0%,
      transparent 73%,
      rgba(71, 71, 71, 0.08) 73%,
      rgba(71, 71, 71, 0.08) 75%,
      transparent 75%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
  --sideBar-greadient-sub: linear-gradient(
      -41deg,
      rgba(107, 107, 107, 0.04) 0%,
      rgba(107, 107, 107, 0.04) 8%,
      rgba(31, 31, 31, 0.04) 8%,
      rgba(31, 31, 31, 0.04) 100%
    ),
    linear-gradient(
      9deg,
      rgba(228, 228, 228, 0.04) 0%,
      rgba(228, 228, 228, 0.04) 62%,
      rgba(54, 54, 54, 0.04) 62%,
      rgba(54, 54, 54, 0.04) 100%
    ),
    linear-gradient(
      124deg,
      rgba(18, 18, 18, 0.04) 0%,
      rgba(18, 18, 18, 0.04) 37%,
      rgba(233, 233, 233, 0.04) 37%,
      rgba(233, 233, 233, 0.04) 100%
    ),
    linear-gradient(
      253deg,
      rgba(201, 201, 201, 0.04) 0%,
      rgba(201, 201, 201, 0.04) 55%,
      rgba(47, 47, 47, 0.04) 55%,
      rgba(47, 47, 47, 0.04) 100%
    ),
    linear-gradient(
      270deg,
      rgba(172, 172, 172, 0.04) 0%,
      rgba(172, 172, 172, 0.04) 33%,
      rgba(26, 26, 26, 0.04) 33%,
      rgba(26, 26, 26, 0.04) 100%
    ),
    linear-gradient(
      64deg,
      rgba(11, 11, 11, 0.04) 0%,
      rgba(11, 11, 11, 0.04) 38%,
      rgba(87, 87, 87, 0.04) 38%,
      rgba(87, 87, 87, 0.04) 100%
    ),
    linear-gradient(
      347deg,
      rgba(199, 199, 199, 0.04) 0%,
      rgba(199, 199, 199, 0.04) 69%,
      rgba(4, 4, 4, 0.04) 69%,
      rgba(4, 4, 4, 0.04) 100%
    ),
    linear-gradient(
      313deg,
      rgba(36, 36, 36, 0.04) 0%,
      rgba(36, 36, 36, 0.04) 20%,
      rgba(91, 91, 91, 0.04) 20%,
      rgba(91, 91, 91, 0.04) 100%
    ),
    linear-gradient(90deg, rgb(10, 17, 72), rgb(35, 148, 228));
  --sideBar-greadient: linear-gradient(
      41deg,
      rgba(107, 107, 107, 0.04) 0%,
      rgba(107, 107, 107, 0.04) 8%,
      rgba(31, 31, 31, 0.04) 8%,
      rgba(31, 31, 31, 0.04) 100%
    ),
    linear-gradient(
      9deg,
      rgba(228, 228, 228, 0.04) 0%,
      rgba(228, 228, 228, 0.04) 62%,
      rgba(54, 54, 54, 0.04) 62%,
      rgba(54, 54, 54, 0.04) 100%
    ),
    linear-gradient(
      124deg,
      rgba(18, 18, 18, 0.04) 0%,
      rgba(18, 18, 18, 0.04) 37%,
      rgba(233, 233, 233, 0.04) 37%,
      rgba(233, 233, 233, 0.04) 100%
    ),
    linear-gradient(
      253deg,
      rgba(201, 201, 201, 0.04) 0%,
      rgba(201, 201, 201, 0.04) 55%,
      rgba(47, 47, 47, 0.04) 55%,
      rgba(47, 47, 47, 0.04) 100%
    ),
    linear-gradient(
      270deg,
      rgba(172, 172, 172, 0.04) 0%,
      rgba(172, 172, 172, 0.04) 33%,
      rgba(26, 26, 26, 0.04) 33%,
      rgba(26, 26, 26, 0.04) 100%
    ),
    linear-gradient(
      64deg,
      rgba(11, 11, 11, 0.04) 0%,
      rgba(11, 11, 11, 0.04) 38%,
      rgba(87, 87, 87, 0.04) 38%,
      rgba(87, 87, 87, 0.04) 100%
    ),
    linear-gradient(
      347deg,
      rgba(199, 199, 199, 0.04) 0%,
      rgba(199, 199, 199, 0.04) 69%,
      rgba(4, 4, 4, 0.04) 69%,
      rgba(4, 4, 4, 0.04) 100%
    ),
    linear-gradient(
      313deg,
      rgba(36, 36, 36, 0.04) 0%,
      rgba(36, 36, 36, 0.04) 20%,
      rgba(91, 91, 91, 0.04) 20%,
      rgba(91, 91, 91, 0.04) 100%
    ),
    linear-gradient(90deg, rgb(10, 17, 72), rgb(35, 148, 228));
  /* landingPage Colors */
  /*graph colors*/
  --color_Purple: #93385fff;
  --color_Raspberry: #8a307f;
  --color_Raspberry_secondery: #6b2963;
  --color_maroon: #881b4c;
  /*sideBar colors*/
  --color_indigo: #1e2761;
  --color_indigo_ligther: #303972;
  --color_indigo_darker: #121630;
  --color-black: #101820ff;
  --color-Ultimate-Gray: #949398ff;
  --color-white: #ffffffff;
  --color_ligte_green: #22c1c3;
  /* to-do colors */
  --color_Living_Coral: #fc766aff;
  --buttom_border_color: "";
  /* font sizes */
  --headLine_font_size: 4rem;
  --sub-headLine_font_size: 2em;
  --body_font_size: 1.3em;

  --sideBar_font_size: 1.5em;
  /* font color */
  --primery_font: #000000ff;
  --secondery_font: black;
  /* font familys */
  --font-extra_font-BebasNeue: "Bebas Neue", cursive;
  --font-headerFont-Libre_Baskerville: "Libre Baskerville", serif;
  --font-sub-header-Poppins: "Poppins", sans-serif;
  --font-Source_Code_Pro: "Source Code Pro", monospace;

  /* whidth */
  --pc-width: 75%;
  --tablet-width: 75%;
  --cell-width: 75%;
}

/*grid general layout */
.layout {
  grid-template-columns: 5em, repeat(9, 1fr);
  /* grid-template-rows: repeat(10, 1fr); */
  grid-auto-rows: 2.5em, auto;
  grid-template-areas:
    "navBar navBar navBar navBar navBar navBar navBar navBar navBar navBar"
    "sideBar body body body body body body body body rightSide"
    "sideBar body body body body body body body body rightSide"
    "sideBar body body body body body body body body rightSide"
    "sideBar body body body body body body body body rightSide"
    "sideBar body body body body body body body body rightSide"
    "sideBar body body body body body body body body rightSide"
    "sideBar body body body body body body body body rightSide"
    "sideBar body body body body body body body body rightSide"
    "sideBar body body body body body body body body rightSide";
}
/* scroll bar style */
/* width */
::-webkit-scrollbar {
  width: 20px;
  background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

/*end scroll bar style */

/* search */
.searchBox {
  position: relative;
  width: 400px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-Source_Code_Pro);
  transition: 0.7s;
}
/* .searchBox:hover {
  width: 400px;
} */
.searchBox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(#fff, #fff, #e3e3e5);
  filter: blur(1px);
  z-index: 1;
}
.searchBox::after {
  content: "";
  position: absolute;
  top: 0;
  right: -1px;
  width: 10px;
  height: 100%;
  background: #9d9d9d;
  filter: blur(1px);
  z-index: 1;
}
.searchInput {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  padding: 10px 25px;
  outline: none;
  font-size: 0.5em;
  color: #555;
  background: linear-gradient(#dbdae2, #a3aaba);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), 15px 15px 15px rgba(0, 0, 0, 0.1),
    20px 20px 15px rgba(0, 0, 0, 0.1), 30px 30px 15px rgba(0, 0, 0, 0.1),
    inset 1px 1px 2px #fff;
}
.searchShadowBox {
  position: absolute;
  top: 0;
  left: 9px;
  width: calc(100% + -20px);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1),
    transparent,
    transparent
  );
  height: 50px;
  transform-origin: top;
  transform: skew(45deg);
  pointer-events: none;
}
.searchShadowBox::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: #fff;
  z-index: 1;
}

.searchBox ion-icon {
  position: absolute;
  right: 14px;
  font-size: 20px;
  color: #555;
  cursor: pointer;
}
/* forms */

/* body, */

/*  */
@media screen and (max-width: 400px) {
  .searchBox {
    width: 100%;
  }
}
@media screen and (max-width: 520px) {
  .searchBox {
    width: 100%;
  }
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .searchBox {
    width: 100%;
  }
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}
