.jsDashboard_container {
  display: flex;
  min-height: 100vh;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.jsMainBody_container {
  margin: 0 auto;
  overflow-y: scroll;
}
/*  */
@media screen and (max-width: 400px) {
  .jsMainBody_container {
  }
}
